@import '@/app/sass/variables';
@import '@/app/sass/mixins';

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 5vh;
  width: 100%;
  position: fixed;
  z-index: 100;
  color: $color-white;
  background: $color-primary-1;

  & .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: $bp-largest;
    //margin: 0 auto;
    padding: 0 1rem;
    transition: 0.3s ease padding;
    height: 100%;
    padding: 0rem 3rem;

    & .page__links {
      cursor: pointer;
    }

    & .external__links {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      color: $color-white;
      transform: translateY(0.2rem);
    }

    & a {
      padding: 0rem 0.8rem;

      &:hover,
      &:active {
        transition: 0.3s ease all;
        color: $color-black;
        text-decoration: underline;
      }

      & > svg {
        font-size: 2.5rem;

        &:hover,
        &:active {
          transform: scale(1.2);
        }
      }
    }
  }
}
