@import '@/app/sass/variables';

.logo {
  display: flex;
  height: 5.5rem;
  width: 5.5rem;
  border-radius: 50%;
  background-color: $color-black;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%);

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-white;
    font-size: 2.5rem;
    font-weight: 500;
    cursor: pointer;
  }
}
