// ########### COLORS ########## //

$color-primary-1: rgb(102, 111, 236);
$color-primary-2: rgb(102, 111, 236);
$color-primary-3: rgb(102, 111, 236);
$color-primary-4: rgb(102, 111, 236);
$color-secondary-1: rgb(14, 14, 15);
$color-secondary-2: rgb(14, 14, 15);
$color-secondary-3: rgb(14, 14, 15);
$color-secondary-4: rgb(14, 14, 15);

$color-white: #fff;
$color-black: #000;

// ########## FONT ########## //

$default-font-size: 1.6rem;

// ########## RESPONSIVE BREAKPOINTS ########## //

$bp-largest: 120em; // 1920px
$bp-large: 75em; // 1200px
$bp-medium: 50em; // 800px;
$bp-small: 37.5em; // 600px;

// ########## BORDER RADIUS ########## //

$bd-radius-sm: 0.3rem;
$bd-radius-md: 0.45rem;
$bd-radius-lg: 0.6rem;
$br-radius-rd: 50%;
